<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
  
      <a class="navbar-brand" routerLink="/dashboard">
        Pet Policy Admin
      </a>
  
      <div class="navbar-nav">
  
        <a
          class="nav-link"
          routerLink="/dashboard">
          Dashboard
        </a>
  
        <a
          class="nav-link"
          routerLink="/policies">
          Policies
        </a>
  
        <a
          class="nav-link"
          routerLink="/policies/create">
          Create Policy
        </a>
  
        <a
          class="nav-link"
          routerLink="/expiring">
          Expiring
        </a>
  
        <a
          class="nav-link"
          routerLink="/excel">
          Excel
        </a>
  
      </div>
    </div>
  </nav>