<h2 class="mb-4">
    Excel Import / Export
  </h2>
  
  <div
    *ngIf="message"
    class="alert alert-success">
  
    {{ message }}
  
  </div>
  
  <div
    *ngIf="errorMessage"
    class="alert alert-danger">
  
    {{ errorMessage }}
  
  </div>
  
  <div class="card p-4">
  
    <h5>
      Import Policies
    </h5>
  
    <div class="mb-3">
  
      <input
        type="file"
        class="form-control"
        accept=".xlsx,.xls"
        (change)="onFileSelected($event)">
  
    </div>
  
    <button
      class="btn btn-primary"
      (click)="importPolicies()"
      [disabled]="importing">
  
      {{ importing ? 'Importing...' : 'Import Excel' }}
  
    </button>
  
    <hr>
  
    <h5>
      Export Policies
    </h5>
  
    <button
      class="btn btn-success"
      (click)="exportPolicies()"
      [disabled]="exporting">
  
      {{ exporting ? 'Exporting...' : 'Export Excel' }}
  
    </button>
  
  </div>